# This file gives the initial chess position in a dictionnary as
# key => (x=x_index, y=y_index)
# value => string giving the piece starting at this (x, y) position 

{
   # White pieces
   (0, 0): 'Rook',
   (1, 0): 'Knight',
   (2, 0): 'Bishop',
   (3, 0): 'Queen',
   (4, 0): 'King',
   (5, 0): 'Bishop',
   (6, 0): 'Knight',
   (7, 0): 'Rook',
   (0, 1): 'Pawn',
   (1, 1): 'Pawn',
   (2, 1): 'Pawn',
   (3, 1): 'Pawn',
   (4, 1): 'Pawn',
   (5, 1): 'Pawn',
   (6, 1): 'Pawn',
   (7, 1): 'Pawn',
   # Black pieces
   (0, 6): 'Pawn',
   (1, 6): 'Pawn',
   (2, 6): 'Pawn',
   (3, 6): 'Pawn',
   (4, 6): 'Pawn',
   (5, 6): 'Pawn',
   (6, 6): 'Pawn',
   (7, 6): 'Pawn',
   (0, 7): 'Rook',
   (1, 7): 'Knight',
   (2, 7): 'Bishop',
   (3, 7): 'Queen',
   (4, 7): 'King',
   (5, 7): 'Bishop',
   (6, 7): 'Knight',
   (7, 7): 'Rook',
}